.about__banner {
  padding: 5rem 0;
  background-color: $clr-dark;
  color: $clr-light;
  &__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 3rem;
    padding: 2rem 0;
    position: relative;
    @include mediaQuery($break-sm) {
      flex-direction: column;
    }
    @include mediaQuery($break-md) {
      flex-direction: column;
    }
  }
  img {
    margin-left: 40rem;
    @include imgFit(100%, 35rem);
  }
  h2 {
    position: absolute;
    font-size: clamp(3rem, 10vw, 10rem);
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.about {
  padding: 10rem 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    @include mediaQuery($break-sm) {
      flex-direction: column;
    }
    @include mediaQuery($break-md) {
      flex-direction: column;
    }
  }
  h2 {
    font-size: clamp(3rem, 10vw, 10rem);
  }
}

.testimonial {
  background-color: $clr-dark;
  color: $clr-light;
  padding: 5rem 0;
  h2 {
    font-size: clamp(3rem, 10vw, 4rem);
    text-align: center;
    margin-bottom: 3rem;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    grid-gap: 3rem;
  }
}

.team {
  padding: 10rem 0;
  h2 {
    text-align: center;
    margin-bottom: 3rem;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
  }
}
