$clr-accent: #a97623;
$clr-dark: hsl(0, 0%, 12%);
$clr-light: hsl(0, 0%, 100%);
$clr-gray: #636363;
$clr-gray-l: #f2f2f2;
$clr--gray-l: #f2f2f2;
$clr-accent-l: #c2c2c2;
$clr-accent-d: #c2c2c2;
$ff-primary: Helvetica, sans-serif;

$break-sm: 640px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1280px;
