.header {
  padding: 2rem 0;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h3 {
    color: $clr-dark;
  }
  ul {
    li {
      margin-right: 2rem;
    }
    li:last-child {
      margin-right: 0;
    }
  }
}
