.header.scrolled {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  figure img {
    width: 180px;
  }
}

.header {
  background-color: $clr-light;
  position: fixed;
  z-index: 999999;
  width: 100%;
  &__brand {
    figure img {
      width: 100%;
      transition: all 0.5s ease;
    }
    @include mediaQuery($break-lg) {
      flex-direction: column;
    }
  }
  &__actions {
    a {
      margin-right: 1rem;
      font-weight: 600;
      color: $clr-gray;
    }
  }
}

.header.page {
  position: fixed;
  width: 100%;
  background-color: $clr-light;
}
.header__actions.open {
  right: -1px;
}
.header__actions {
  .mobile__nav {
    display: none;
  }
  @include mediaQuery($break-lg) {
    position: fixed;
    z-index: 999999;
    top: 9rem;
    right: -100%;
    background-color: $clr-light;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    transition: 0.5s ease;
    .mobile__nav {
      display: block;
      border-bottom: 1px solid $clr-gray;
      ul {
        flex-direction: column;
        align-items: flex-start;
        li {
          margin-bottom: 2rem;
          a {
            font-size: 2rem;
            font-weight: 400;
          }
        }
      }
    }
  }

  .mobile__actions {
    @include mediaQuery($break-lg) {
      span {
        display: none;
      }
      flex-direction: column;
      margin-top: 2rem;
      // display: grid;
      // grid-gap: 1rem;
      // grid-template-columns: 1fr 1fr 1fr;
      // grid-template-rows: 1fr 1fr;
      // li:nth-child(1) {
      //   grid-column: 1 / 4;
      // }
      // li:nth-child(2) {
      //   grid-column: 1 / 2;
      //   grid-row: 2 / 3;
      // }

      // li:nth-child(3) {
      //   grid-column: 2 / 3;
      // }
      li {
        margin: 0;
        padding: 2rem 4rem;
        a {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

.toggle__menu {
  position: absolute;
  top: 3rem;
  right: 2rem;
  cursor: pointer;
  display: none;
  @include mediaQuery($break-lg) {
    display: block;
  }
  span {
    width: 3.2rem;
    height: 3px;
    background-color: $clr-accent;
    display: block;
    margin-bottom: 0.5rem;
    transition: 0.5s ease;
  }
}

.toggle__menu.open {
  // animation: rotate 0.5s ease-in 0.5s;
  // transform: rotate(180deg);

  span:nth-child(1) {
    // animation: bar1 0.5s linear;
    transform: translate(0px, 8px) rotate(45deg);
  }
  span:nth-child(2) {
    opacity: 0;
  }

  span:nth-child(3) {
    // animation: bar2 0.5s linear;
    transform: translate(0px, -8px) rotate(-45deg);
  }
}

// @keyframes bar1 {
//   0% {
//     transform: translateY(0rem);
//   }
//   50% {
//     transform: translateY(0.8rem);
//   }
//   100% {
//     transform: translate(0px, 8px) rotate(45deg);
//   }
// }

// @keyframes rotate {
//   0% {
//     transform: rotate(0);
//   }
//   100% {
//     transform: rotate(180deg);
//   }
// }

// @keyframes bar2 {
//   0% {
//     transform: translateY(0rem);
//   }
//   50% {
//     transform: translateY(-0.8rem);
//   }
//   100% {
//     transform: translate(0px, -8px) rotate(-45deg);
//   }
// }
