@for $i from 1 through 10 {
  .mb--#{$i} {
    margin-bottom: $i + rem;
  }

  .py--#{$i} {
    padding: $i + rem 0;
  }

  .order--#{$i} {
    order: $i;
  }
}

$sizes: 15, 20, 25, 30, 35;
@each $size in $sizes {
  .p--#{$size} {
    padding: $size + px;
  }
}

$displays: flex, grid, block, inline-block, inline;
@each $display in $displays {
  .d--#{$display} {
    display: $display;
  }
}

$colors: (
  "accent": $clr-accent,
  "accent-l": $clr-accent-l,
  "accent-d": $clr-accent-d,
  "dark": $clr-dark,
  "light": $clr-light,
  "gray": $clr-gray,
  "gray-l": $clr-gray-l,
);

@each $key, $val in $colors {
  .bg {
    &--#{$key} {
      background-color: $val;
    }
  }

  .text {
    &--#{$key} {
      color: $val;
    }
  }

  .btn.bg--#{$key} {
    @include btn($val);
    border: 1px solid $val;
  }

  .btn.bg--transparent {
    @include btn(transparent);
    color: $clr-dark;
    border: 1px solid $clr-dark;
  }

  .btn.bg--transparent-l {
    @include btn(transparent);
    color: $clr-light;
    border: 1px solid $clr-light;
  }
}

$justify: (
  "start": flex-start,
  "center": center,
  "end": flex-end,
  "between": space-between,
  "around": space-around,
);

@each $key, $val in $justify {
  .justify {
    &--#{$key} {
      justify-content: $val;
    }
  }
}

$alignments: (
  "start": flex-start,
  "center": center,
  "end": flex-end,
);

@each $key, $val in $alignments {
  .align {
    &--#{$key} {
      align-items: $val;
    }
  }
}

$align: (
  "center": center,
  "left": left,
  "justify": justify,
);

@each $key, $val in $align {
  .text {
    &--#{$key} {
      text-align: $val;
    }
  }
}

$breakpoints: (
  "sm": 640px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
);

@each $key, $val in $breakpoints {
  @media screen and (max-width: $val) {
    @for $i from 1 through 4 {
      .#{$key}-grid-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
}
