.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/img_hero.webp");
  background-color: auto;
  background-size: cover;
  background-position: top;
  &__wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__content {
    max-width: 55rem;
    padding: 1rem 4rem;
    background-color: $clr-light;
    h1 {
      font-size: clamp(3rem, 6vw, 6rem);
      line-height: 1.3;
    }
    h2 {
      font-size: clamp(2rem, 6vw, 3rem);
      line-height: 1.3;
    }
  }
}

.services {
  &__wrapper {
    @include grid(2, 1rem);
    gap: 9rem;
    @include mediaQuery($break-md) {
      @include grid(1, 1rem);
    }
  }
  &__img {
    img {
      @include mediaQuery($break-md) {
        width: 100%;
      }
    }
  }
  &__details {
    h2 {
      font-size: clamp(3rem, 6vw, 4rem);
    }
  }
}

.services2 {
  &__wrapper {
    @include grid(2, 1rem);
    gap: 9rem;
    @include mediaQuery($break-md) {
      @include grid(1, 1rem);
    }
  }
  .slider {
    @include mediaQuery($break-md) {
      order: 1;
    }
  }
  &__details {
    @include mediaQuery($break-md) {
      order: 2;
    }

    h2 {
      font-size: clamp(3rem, 6vw, 4rem);
    }
  }
}

.testimonials {
  &__header {
    h2 {
      font-size: clamp(3rem, 6vw, 4rem);
    }
  }
  &__wrapper {
    @include grid(3, 2rem);
    @include mediaQuery($break-lg) {
      @include grid(2, 4rem);
      padding: 4rem 5rem;
    }

    @include mediaQuery($break-sm) {
      @include grid(1, 4rem);
    }
    padding-top: 5rem;
  }
  &__item {
    ul {
      list-style: none;
    }
    @include mediaQuery($break-md) {
      @include center2;
    }
    background-color: $clr-light;
    padding: 4rem 3rem;
    width: 35rem;
    border-radius: 1.5rem;
    .rating {
      li {
        padding: 0 0.1rem;
      }
    }
    .avatar {
      margin-bottom: 0%;
      &__icon {
        margin-right: 0.5rem;
      }
      &__name {
        .first {
          font-weight: bold;
        }
        .second {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.location {
  &__wrapper {
    @include grid(2, 1rem);
    gap: 5rem;
    @include mediaQuery($break-md) {
      @include grid(1, 1rem);
    }
  }

  &__info {
    ul {
      list-style: none;
    }
    @include mediaQuery($break-md) {
      order: 2;
      padding: 2.5rem;
    }
    li {
      margin-bottom: 0.4rem;
    }
    h2 {
      font-size: clamp(2rem, 6vw, 4rem);
    }
    .address {
      font-size: 1.8rem;
    }
    .number {
      i {
        font-size: 2rem;
        margin-right: 1rem;
      }
    }
  }
}

.contact {
  &__wrapper {
    @include grid(2, 1rem);
    gap: 9rem;
    @include mediaQuery($break-md) {
      @include grid(1, 1rem);
    }
  }
  &__form {
    padding: 5rem 5rem;
    input[type="text"] {
      width: 100%;
      padding: 15px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      font-weight: bold;
      background-color: $clr-gray-l;
      border: 1px solid $clr-gray;
      border-radius: 0.5rem;
    }
  }
  &__details {
    h2 {
      font-size: clamp(3rem, 6vw, 4rem);
    }
  }
}
