.links {
  &__item {
    h3 {
      margin-bottom: 3rem;
      font-weight: 100;
      padding: 1rem 0;
      border-bottom: 1px solid #939393;
      color: $clr-light;
      cursor: pointer;
      @include mediaQuery($break-md) {
        cursor: pointer;
      }
      i {
        color: #939393;
        transition: 0.5s ease;
        position: relative;
        display: none;
        display: block;
        @include mediaQuery($break-md) {
          display: block;
        }
        &::after {
          content: "";
          position: absolute;
          width: 4rem;
          height: 4rem;
          opacity: 0.2;
          right: -78%;
          top: -68%;
          transform: scale(0);
          transition: all 0.5s ease;
          display: block;
        }
        &:hover::after {
          transform: scale(1);
        }
      }

      i.open {
        transform: rotate(180deg);
      }

      cursor: pointer;
      margin-bottom: 2rem;
      @include mediaQuery($break-md) {
        cursor: pointer;
        margin-bottom: 2rem;
      }
    }
    ul {
      height: auto;
      max-height: 0;
      overflow: hidden;
      transition: 0.5s ease;
      @include mediaQuery($break-md) {
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s ease;
      }
    }
    ul.open {
      max-height: 30rem;
    }
    p {
      color: #939393;
    }
    margin-bottom: 2rem;
  }
}
